@font-face {
    font-family: 'NotoSansSC-Black';
    src: url(./fonts/NotoSansSC-Black.otf);
}
@font-face {
    font-family: 'NotoSansSC-Bold';
    src: url(./fonts/NotoSansSC-Bold.otf);
}
@font-face {
    font-family: 'NotoSansSC-Light';
    src: url(./fonts/NotoSansSC-Light.otf);
}
@font-face {
    font-family: 'NotoSansSC-Medium';
    src: url(./fonts/NotoSansSC-Medium.otf);
}
@font-face {
    font-family: 'NotoSansSC-Regular';
    src: url(./fonts/NotoSansSC-Regular.otf);
}
@font-face {
    font-family: 'NotoSansSC-Thin';
    src: url(./fonts/NotoSansSC-Thin.otf);
}
@font-face {
    font-family: "Sedan-SC";
    src: url(./fonts/SedanSC-Regular.ttf);
}